@media (min-width: 767px) and (max-width: 1024px) {
 
    .center {
        padding-left: 57px;
        padding-right: 56px;
    }
    .scroll {
        height: 70px;
    }

    .scrollbar__text {
        font-size: 24px;
    }
    .card {
        max-height: unset;
        &__text {
            font-size: 18px;
        }
    }

    .card__box {
        grid-column: span 6;

        &_top {
           margin-top: 0px;
        }
    }

    .mini-card__img {
        width: 50%;
        object-fit: cover;
    }

    .mini-card__name {
        font-size: 38px;
    }
}